Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
*.loT
*~
*.aux
*.cp
*.cps
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.t2p
*.html
*.info
*.pdf
*.go
*.tar.gz*
*.trs
build-aux
configure
libtool
g-wrap-config
doc/g-wrap.info
doc/stamp-vti
doc/version.texi
g-wrap/ffi-support.h
g-wrap/stamp-h2
guile/g-wrap-2.0-guile.pc
guile/g-wrap/gw/gw-glib.c
guile/g-wrap/gw/gw-glib.h
guile/g-wrap/gw/gw-glib.scm
guile/g-wrap/gw/standard.c
guile/g-wrap/gw/standard.h
guile/g-wrap/gw/standard.scm
lib/alloca.h
m4/libchecks.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
stamp-h1
guile/test/guile-test-env
guile/test/gw-test-aggregating.c
guile/test/gw-test-aggregating.h
guile/test/gw-test-aggregating.scm
guile/test/gw-test-child.c
guile/test/gw-test-child.h
guile/test/gw-test-child.scm
guile/test/gw-test-compat.c
guile/test/gw-test-compat.h
guile/test/gw-test-compat.scm
guile/test/gw-test-enumeration.c
guile/test/gw-test-enumeration.h
guile/test/gw-test-enumeration.scm
guile/test/gw-test-parent.c
guile/test/gw-test-parent.h
guile/test/gw-test-parent.scm
guile/test/gw-test-standard.c
guile/test/gw-test-standard.h
guile/test/gw-test-standard.scm
g-wrap/config.scm
guile/examples/gw-miscutils.h
guile/examples/gw-miscutils.scm
guile/examples/gw-miscutils.c
guile/run-guile
lib/stdio.h
test-driver
